/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/*----------- HEADER --------------*/
header {
    padding: 0.5rem 2%;
    background-color: #f4f7fb;
    border-bottom: solid 1px #21548d;
    color: #000;
    text-align: center;
}
header h1 {
    font-size: 20px;
    font-weight: 545;
}
/*----------- Main -----------*/
main {
    height: 29rem;
}

main div {
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}

main p {
    margin: 0.4rem;
    font-size: 14px;
}



/*----------- FOOTER --------------*/
footer {
    background-color: #f4f7fb;
    border-top: solid 1px #21548d ;
    color: #000;
    padding: 2rem;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

@media (min-width: 600px) {
    header h1 {
        font-size: 30px;
        font-weight: 600;
    }

    main p {
        font-size: 25px;
    }
    footer p {
        font-size: 16px;
    }

    main{
        height: 32.2rem;
    }

}