body {
    margin: 0;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;;
}

p, a {
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: #202830;
}

header div {
    margin: auto 0;
    margin-left: .20rem;
}

header h1 {
    margin: 0;
    padding: 0;
    align-items: center;
    width: 85%;
}

nav {
    margin: 0;
}


.icon {
    width: 30px;
    height: auto;
    margin: 0;
}

#icon-div a {
    text-decoration: none;
    color: #F9FAFB;
}

#course-title {
    color: #F9FAFB;
    font-size: .9rem;
    padding: .5rem;
    vertical-align: middle;
    line-height: 1.5;
    display: inline-block;
}

nav ul {
    display: none;
    gap: 1rem;
    background: #F9FAFB;
    position: absolute;
    top: 56px;
    right: 1px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
    width: 120px;
}


nav a {
    display: block;
    margin: 1rem;
    text-decoration: none;
    background-color: #F9FAFB;
    color: #3A4250;
    padding-left: 1rem;
    margin: 0;
    padding: .5rem;
    text-align: end;
}

nav a:hover{
    background-color: #3A4250;
    color: #F9FAFB;
    border: none;
    transition: .5s;
}

nav ul.show {
    display: block;
}

.hamburger {
    display: block;
    margin: 0.5rem;
    height: 30px;
    width: auto;
    background-color: #202830;
    color: #F9FAFB;
    font-size: 20px;
    border: none;
}

.hamburger:hover {
    background-color:#E5E7EB;
    color: #202830;
    border: solid 1px #bbb ;
    border-radius: 3px;
    cursor: pointer;
}

main p {
    font-size: .90rem;
}

.hero-img {
    background-color: #202830;
}

.hero-img img {
    width: 100%;
}

#hero-message {
    position: absolute;
    color: #E5E7EB;
    top: 15%;
    left: 10%;
}

#hero-message h2{
    font-size: 1rem;
    margin: 0;
}

#hero-message p {
    font-size: .6rem;
}

.about {
    background-color: #425364;
    color: #F9FAFB;
    padding: 1.5rem;
    margin: 0 auto;
    border-bottom: solid 2px #202830;
}

.about h2, .resources h2 {
    margin: .8rem 0;
    font-size: .9rem;
}

.about p {
    font-size: .6rem;
}

.about h3 {
    font-weight: 400;
    text-align: center;
    font-size: .8rem;
}

.resources {
    background-color: #425364;
    color: #F9FAFB;
    padding: 1.5rem;
    margin: 0 auto;
}

footer {
    background-color: #202830;
    color: #F9FAFB;
    height: 150px;
    padding: 1.5rem;
}

footer p {
    margin: 0;
    font-size: .6rem;
    text-align: center;
}





@media (min-width: 440px) {
    
}